day1-notes.html
day2-notes.html
day3-notes.html
js-test.html
day4-notes.html
day5-notes.html

in-class-exercise.js
mycode.js
mycode-d2.js
mycode-d3.js
js-test.js
mycode-d4.js
mycode-d5.js

day4-notes.css
